@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700');

/* line 17, ../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/*#ffd456*/

html {

    font-family: "adriane", Georgia, serif;
    color: #494C4E;
    -webkit-font-smoothing: antialiased;
}

body {
    border: 8px solid #494C4E;
    margin: 0px;
    height: auto;
    overflow: scroll;
}

#app, #wrap {
    height: auto;
    box-sizing: border-box;
    color: #4a4c4e;
    background: white;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

}

#app {
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#app.open
{
  right: 35%;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}


a {
  text-decoration: none;
  color: #4a4c4e;
  position: relative;
}

.imageloader.imageloader-loaded {
    text-align: center;
}

button {
    background: none;
    color: #fabd08;
    font-family: "adriane", Georgia, serif;
    padding: 20px;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
}


.arrow-right{
  position: relative;
  left: 0px;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

button:hover .arrow-right{
  position: relative;
  left: 5px;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.page-header{
    padding: 0 25%;
    margin: 50px 0;
    line-height: 45px;


}




/*        &HEADER        */

header#app-header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    /* background: white; */
    z-index: 50;
    padding: 10px 5%;
    box-sizing: border-box;
}

header#app-header h1 {
    font-weight: 100;
    text-transform: lowercase;
    font-size: 30px;
    color: #4a4c4e;
    display: flex;
    top: 10px;
    position: relative;
    border: 3px solid #4a4c4e;
    padding: 10px;
    border-radius: 0px;
    justify-content: stretch;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

header#app-header h1:hover {

    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;

}
/*        &NAV       */

div#main-nav-container {
    margin: auto 0;
}

nav#nav-list {
  margin: auto;
}



nav#nav-list ul {
    list-style: none;
}

nav#nav-list ul li {
    display: inline-block;
    margin-right: 20px;
}


nav#nav-list ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f9bd09;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav#nav-list ul li a:hover:before, .active:before{
  visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}

img#logo {
    position: relative;
    width: 70px;
    height: 70px;
}

/*        &MOBILE NAV        */


.mobile-nav-panel {
    width: 35%;
    height: 100%;
    position: fixed;
    z-index: 99;
    right: -35%;
    top: 0;
    background: #494c4e;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.mobile-nav-panel.open {
  right: 0%;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.mobile-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    right: 8%;
    top: 42px;
    width: 65px;
    height: 65px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.mobile-nav-container.scrolled {
    background: #fbcf5e;
    box-shadow: 0px 0px 2px #0000004a;
    /* width: 65px; */
    /* height: 65px; */
    border-radius: 100px;
}
.mobile-nav-container.open  {
  right: 39%;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


nav.mobile-nav-list {
    /* position: fixed; */
    /* right: 0; */
    top: 0;
    /* background: white; */
    width: 100%;
    height: 100vh;
    z-index: 5;
}

nav.mobile-nav-list.open {
    display: flex;
    justify-content: center;
}

nav.mobile-nav-list ul {
  list-style: none;
}

nav.mobile-nav-list ul li {
  font-size: 30px;
  margin: 100px 0px 0px 25px;
}

nav.mobile-nav-list ul li a{
  color: white;
}


nav.mobile-nav-list ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f9bd09;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav.mobile-nav-list ul li a:hover:before, nav#nav-list ul li a:active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

    /*    &NAV ICON       */


    .nav-icon {
            width: 30px;
        height: 24px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        top: 0px;
        z-index: 99;
    }

    .nav-icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #4a4c4e;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
  }



    .nav-icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .nav-icon span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .nav-icon span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .mobile-nav-container.open .nav-icon span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -2px;
      left: 4px;
      width: 35px;
  }

    .mobile-nav-container.open .nav-icon span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    .mobile-nav-container.open .nav-icon span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 23px;
      left: 4px;
      width: 35px;
  }



  .page {
      position: relative;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      min-height: 75vh;
  }

.page-container {

    padding: 0px 5%;
    width: 100%;
    height: 70%;
    position: relative;
    box-sizing: border-box;
    margin: 0px auto 0 auto;

  }


  .page-title {
      padding: 0 20%;
      margin: 50px 0 10px 0;
      line-height: 45px;


  }

  .page-desc {
      font-family: 'Poppins', sans-serif;
      color:  #fabd08;
      padding: 0 20%;
      margin: 10px 0;
      line-height: 45px;

  }


  .page-img {
    margin: 100px 0px;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
/*        &Home      */



#home {
    background-image: url(/../img/thom_and_i.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000000,#000000);
    opacity: .5;
}


div.paragraph {
  box-sizing: border-box;
  padding: 39px 20% 0px 20%;
}

div.paragraph h1{
  position: relative;
  color: #4a4c4e;
  margin: 15px 0px;
}

div.paragraph h2 {
    font-size: 18px;
    color: #f9bd09;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

div.paragraph p {
  margin: 10px;
  position: relative;
  z-index: 1;
  font-size: 15px;
  color: black;
  display: block;

  text-indent: 22px;
  margin-right: 0;
  text-align: justify;
  line-height: 35px;
}

.italic {
  font-style: italic;
}


/*        &ABOUT       */



.prof-img{
  margin: 60px 0px;
  width: 100%;
}


div#about-container {
    padding: 0px 5%;
    width: 100%;
    height: 70%;
    position: relative;
    box-sizing: border-box;
    margin: 0px auto 0 auto;
}





/*        &ABOUT       */


div#work-container {
  padding: 0px 5%;
  width: 100%;
  height: 70%;
  position: relative;
  box-sizing: border-box;
  margin: 0px auto 0 auto;
}
.work-card-container{
  margin-top: 50px;
}
.work-card {
  position: relative;
  margin-bottom: 30px;
}

.work-card:hover .work-card-overlay {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;

}

.work-card-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000014;
    padding: 20px;
    box-sizing: border-box;
}
img.work-card-icon {
    width: 400px;
}

.work-card-overlay {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    background: #000000d1;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
}

span.work-card-title {
    font-size: 35px;
    margin-bottom: 25px;
}

span.work-card-type {
    font-size: 15px;
    color: #f9bd09;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

#work-card-2 {
  background-repeat: no-repeat;
  background-size: cover;

    background-image: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.65) ), url(/../img/redrocks.jpg);

}

#work-card-3 {
  background: #0d1a29;
}




#work-card-3 img.work-card-icon{
width: 700px;

}



div#amatis-img {
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#amatis2-img {
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#amatis2-img img {
  width: 65%;
}

div#aml-img {
    height: 50%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.65) ), url(/../img/redrocks.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aml-header-title {
    color: white;
    font-size: 100px;
    position: relative;
    left: 25px;
    letter-spacing: 60px;
    font-family: monospace;
    font-family: 'Righteous', cursive;
}

.aml-sub-header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    letter-spacing: 8px;
}

div#aml-img img {
  width: 65%;
}







div#footer-container {
    padding: 0px 5%;
    position: relative;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    border-top: 1px solid #4a4c4e;
}

div#footer-inner-container {
    padding: 35px;
}



span.footer-icon {
    margin: 0px 25px;
    font-size: 20px;
    position: relative;
}

span.footer-icon:hover, span.footer-icon:active {
    color: grey;
}


.icon-container {
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.contact-icon {
  margin: 40px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#contact-container {
    padding-left: 20%;
}

.contact-icon:hover, .contact-icon:hover span{
  background: #4a4c4e;
  color: white;
}

.caption-container {
    position: relative;
    top: 88px;
    left: 194px;
}

.middle-cap {
    position: absolute;
    top: 116px;
}

.bottom-cap {
    top: 232px;
    position: absolute;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div#contact-container {
    padding: 0 !important;
}

.caption-container {
    position: relative;
    top: 88px;
    left: 121px;
}
    #app.open {right: 60%;}
    .mobile-nav-container.open {right: 60%;}
    .mobile-nav-panel {width: 60%; right: -60%;}
    .page-title{
      text-align: center;
    }
    div.paragraph,
    .page-title,
    .page-desc {
      padding: 0 0;

    }

    div#footer-container {padding: 0px}

    img.work-card-icon {width: 200px;}
    #work-card-3 img.work-card-icon {width: 260px;}
    .amatis-page-image {width: 300px;}
    div#amatis2-img img {width: 100%;}
    .aml-header-title {font-size: 76px;}
    .aml-sub-header-title {font-size: 24px;}
    div#aml-img {padding: 12px; box-sizing: border-box;}
    div.paragraph {padding: 0;}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    div.paragraph {padding: 0;}
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    div.paragraph {padding: 0;}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .page-img{
      margin: 0;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .page-img{
      margin: 0;
    }
    div.paragraph {padding: 0;}
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .page-img{margin: 0;}
    div.paragraph {padding: 0;}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .page-img{
      margin: 0;
    }
    div.paragraph {padding: 0;}
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}
